<form [formGroup]="settingsForm">
  <input type="radio" formControlName="frequency" value="daily"/>Daily
  <input type="radio" formControlName="frequency" value="weekly"/>Weekly
  <input type="radio" formControlName="frequency" value="monthly"/>Monthly
  <input type="radio" formControlName="frequency" value="intraday"/>Intraday
  <input type="checkbox" formControlName="livereload"/>live reload
  <input type="radio" formControlName="outputsize" value="compact"/>Compact
  <input type="radio" formControlName="outputsize" value="full"/>Full
</form>
<div style="position: relative;">
  <mat-progress-spinner *ngIf="chartDataSending" mode="indeterminate" style="position: absolute; z-index: 10;"></mat-progress-spinner>
  <app-candle-chart frequency="intraday" [symbol]="symbol" [full-content]="settingsForm.value.outputsize" (stockValueReceived)="setValueAsRecieved()" (stockValueSending)="setValueAsSending()"></app-candle-chart>
</div>
